<?xml version="1.0"?>
<robot name="bluerov2_heavy">

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
<!--      <material name="grey"/>-->
<!--      <color rgba="0.5 0.5 0.5 1"/>-->
    </visual>
  </link>

  <!-- Link 1 -->
  <link name="left_camera_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
<!--      <material name="blue"/>-->
<!--      <color rgba="0 0 1 1"/>-->
    </visual>
  </link>

  <!-- Joint connecting base_link to link_1 -->
  <joint name="left_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_camera_link"/>
    <origin xyz="0.19 0.075 0.201" rpy="-1.57 0 -1.57"/>
  </joint>

  <!-- Link 2 -->
  <link name="right_camera_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
<!--      <material name="blue"/>-->
<!--      <color rgba="0 0 1 1"/>-->
    </visual>
  </link>

  <!-- Joint connecting link_1 to link_2 -->
  <joint name="right_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_camera_link"/>
    <origin xyz="0.19 -0.075 0.201" rpy="-1.57 0 -1.57"/>
  </joint>
</robot>
