<?xml version="1.0"?>
<robot name="bluerov2_heavy">

  <!-- Define some properties -->

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>



  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <geometry>
        <mesh filename="package://voris_description/urdf/meshes/bluerov2_heavy_skid.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!-- Link 1 -->
  <link name="Passive/left_camera_link">
  </link>

  <!-- Link 1 -->
  <link name="Passive/left_camera_enu_link">
  </link>

  <!-- Joint connecting base_link to link_1 -->
  <joint name="left_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Passive/left_camera_link"/>
    <origin xyz="0.19 0.075 0.201" rpy="-1.5707 0 -1.5707"/>
  </joint>

    <!-- Joint connecting base_link to link_1 -->
  <joint name="left_camera_enu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Passive/left_camera_enu_link"/>
    <origin xyz="0.19 0.075 0.201" rpy="0 0 0"/>
  </joint>


  <!-- Link 2 -->
  <link name="Passive/right_camera_link">
  </link>

  <!-- Link 2 -->
  <link name="Passive/right_camera_enu_link">
  </link>

  <!-- Joint connecting link_1 to link_2 -->
  <joint name="right_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Passive/right_camera_link"/>
    <origin xyz="0.19 -0.075 0.201" rpy="-1.5707 0 -1.5707"/>
  </joint>

    <!-- Joint connecting link_1 to link_2 -->
  <joint name="right_camera_enu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="Passive/right_camera_enu_link"/>
    <origin xyz="0.19 -0.075 0.201" rpy="0 0 0"/>
  </joint>


</robot>
