<?xml version="1.0"?>
<robot name="mobile_bench">

  <!-- URDF for optical table bench from laboratory-->

  <!-- Define some properties -->

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>



  <!-- Base Link -->
  <link name="base_link">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://voris_description/urdf/meshes/lab_bench.dae" scale="1 1 1"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

    <joint name="base_ned_joint" type="fixed">
      <parent link="base_link"/>
      <child link="base_link_ned"/>
      <origin xyz="0 0 0" rpy="3.14 0 0"/>
    </joint>

    <joint name="base_cam_joint" type="fixed">
      <parent link="base_link"/>
      <child link="base_link_cam"/>
      <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
    </joint>
    
    
    <link name="base_link_ned"/>
       
    <link name="base_link_cam"/>
  <!-- Navigation position  -->
  <joint name="base_nav_joint" type="fixed">
    <parent link="base_link"/>
    <child link="navigation_link"/>
    <origin xyz="0.08 0 0.064" rpy="0 0 0"/> <!-- 64 mm from base to surface below + -->
  </joint>
  <link name="navigation_link"/>
  <!-- SM4/SM3 base  -->
    <joint name="Active/base_link_joint" type="fixed">
      <parent link="base_link"/>
      <child link="Active/base_link"/>
      <origin xyz="0 0 0.297" rpy="0 0 0"/> <!-- z distance = 277 mm + 10 mm of cylinder + 10 mm "base"-->
    </joint>

    <link name="Active/base_link">
    </link>


    <!-- Active STEREO-->
    <!-- camera left -->
        <link name="Active/left_camera_link">
        <visual>
            <!-- <origin xyz="0 -0.01 0" rpy="0 0 0"/> -->
            <geometry>
              <cylinder radius="0.01" length="0.05"/>
            </geometry>
            <material name="blue"/>
        </visual>
        </link>
        <!-- camera right -->
        <link name="Active/right_camera_link">
        <visual>
            <!-- <origin xyz="0 -0.01 0" rpy="0 0 0"/> -->
            <geometry>
              <cylinder radius="0.01" length="0.05"/>
            </geometry>
            <material name="blue"/>" 
        </visual>
        </link>

        <joint name="Active/left_camera_joint" type="fixed">
            <parent link="Active/base_link"/>
            <child link="Active/left_camera_link"/>
            <origin xyz="0 0.2 0.0" rpy="-1.5707 0 -1.8722"/> <!---"-1.5707 0 -1.8196" -->
        </joint>

        <joint name="Active/right_camera_joint" type="fixed">
            <parent link="Active/base_link"/>
            <child link="Active/right_camera_link"/>
            <origin xyz="0.0 -0.2 0.0" rpy="-1.5707 0 -1.1926"/> <!---"-1.5707 0 -1.3220" -->
        </joint>
    
    <!-- Passive stereo system -->
        <joint name='Passive/base_joint' type="fixed">
        <parent link="Active/base_link"/>
        <child link="Passive/base_link"/>
        <origin xyz="0.008 0 0.064" rpy="0 0 0"/>
        </joint>

        <link name="Passive/base_link">
        </link>

        <link name="Passive/left_camera_link">
        <visual>
            <!-- <origin xyz="0 -0.02 0" rpy="0 0 0"/> -->
            <geometry>
              <cylinder radius="0.01" length="0.05"/>
            </geometry>
            <material name="green"/>
        </visual>
        </link>

        <joint name="Passive/left_camera_joint" type="fixed">
        <parent link="Passive/base_link"/>
        <child link="Passive/left_camera_link"/>
        <origin xyz="0 0.1 0" rpy="-1.5707 0 -1.5707"/> <!---"-1.5707 0 -1.7467" -->
        </joint>

        <link name="Passive/right_camera_link">
        <visual>
            <!-- <origin xyz="0 -0.02 0" rpy="0 0 0"/> -->
            <geometry>
              <cylinder radius="0.01" length="0.05"/>
            </geometry>
            <material name="green"/>
        </visual>
        </link>

        <joint name="Passive/right_camera_joint" type="fixed">
        <parent link="Passive/base_link"/>
        <child link="Passive/right_camera_link"/>
        <origin xyz="0.0 -0.1 0" rpy="-1.5707 0 -1.5707"/> <!---"-1.5707 0 -1.3947" -->
        </joint>

</robot>
